/* for phone screens */
@media all and (orientation:portrait) {
    .intro-content {
        display: block;
        align-items: center;
    }

    p {
        font-size: 12px;
    }

    .card-style {
        width: 60vw;   
    }

    .intro-text {
        text-align: center;
    }

    h4 {
        font-size: 17px;
    }

    .tool-links {
        font-size: 14px;
    }

    .tool-style {
        width: 35vw;
    }

    .tool-img {
        width: 20vw;
    }
}

/* for larger screens */
@media all and (orientation:landscape) {
    .intro-content {
        display: flex;
        justify-content: center;
    }

    p {
        font-size: 17px;
    }

    .card-style {
        width: 25vw;   
    }

    .intro-text {
        text-align: left;
    }

    h4 {
        font-size: 25px;
    }

    .card-body > .name {
        font-size: 25px;
    }

    .intro-content > img {
        margin-right: 10vw;
    }

    #total-git {
        font-size: 17px;
    }

    .tool-style {
        width: 200px;
        height: 380px;
    }

    .card-sub {
        margin: 5px;
    }

    .data-style {
        width: 40vw;
    }

    .tool-img {
        width: 15vw;
    }
}

.intro-content {
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 5vw;
    align-items: center;
}

.badge {
   margin: 5px;
   font-size: 13px;
}

.tool-links {
    width: 260px;
    margin: 2vw 1vw;
}

.project-specs {
    margin-top: 20px;
}

.intro-content > img {
    height: 20vh;
}

.meettheteam, .tools, .datasources {
   margin: 2vw 3vw;
}

h4 {
    padding: 13px 0px;
    font-weight: bolder;
    color: #429fc0;
}

.disparate-data-result > p {
    margin: 2vw 10vw;
}

.colItem {
    display: flex;
    justify-content: center;
    margin: 2vw 0;
}

.card-style {
    flex-grow: 1;
    background-color: #FFE37A;
}

.card-body {
    align-items: center;
    text-align: center;
}

.card-body > .name {
    font-weight: bold;
    margin-top: 15px;
}

 .card-sub {
    text-align: center;
}

.row {
    margin-bottom: 3vw;
}

.other-name {
    margin-top: 15px;
    font-weight: bold;
}

.disparate-data-result {
    margin-top: 5vw;
}

.page-title {
    color: #2596be;
    margin: 10px
}