/* for phone screens */
@media all and (orientation:portrait) {
    #busAnimation {
        width: 100%;
    }

    #blurb {
        font-size: 14px;
    }

    #austinSkyline {
        margin-top: 3vh;
    }

    .title {
        font-size: 15px;
    }

    .text {
        font-size: 12px;
    }
}


/* for larger screens */
@media all and (orientation:landscape) {
    #busAnimation {
        width: 100%;
        height: 85vh;
    }

    #blurb {
        font-size: 32px;
    }

    #austinSkyline {
        margin-top: 15vh;
    }
}

#blurb {
    font-weight: bold;
    color: #343434;
}

#textContainer {
    padding: 10px;
}

#cardTitle {
    color: #343434;
}

.row {
    margin: 10px;
    margin-bottom: 25vh;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

.card {
    background-color: #ffe37a;
    border: none;
    color: #343434;
}


#austinSkyline {
    width: 70vw;
}

.title {
    font-weight: bold;
}