/* for phone screens */
@media all and (orientation:portrait) {
    #filter-and-sort {
        margin-bottom: 15px;
        gap: 1vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

/* for larger screens */
@media all and (orientation:landscape) {
    #filter-and-sort {
        margin-bottom: 15px;
        gap: 50px;
    }
}

.search-bar-wrapper {
    display: flex;
}

#submit-button {
    background-color: #2596be;
}

#sort-and-filter-button {
    background-color:#2596be;
}

#sort-and-filter {
    margin: 0px;
}

.form-check-input:checked {
    background-color: #2596be;
    border-color: #2596be;
}

#filter-and-sort {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.total > p {
    color:#2596be;
    margin-bottom: 0px;
}

Form {
    margin-bottom: 30px;
}