#basic-navbar-nav {
    justify-content: flex-end;
}

.navbar {
    background-color: #2596be;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: #ffcd0e;
}

.search-bar-wrapper {
    padding-left: 2vw;
}

/* phone screen */
@media (orientation:portrait) {
    .search-bar-wrapper {
        margin: 0 auto;
    }
}

.search-button {
    background-color: #ffcd0e;
}

.search-button:hover {
    background-color: gray;
}

.current {
    background-color: #2b6b83;
    border-radius: 10px;
}