
.pagination-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#--bs-pagination-color {
    color: #2596be;
}

.pagination {
    --bs-pagination-color: #2596be;
}

.active>.page-link {
    background-color: #2596be;
    border-color: #2596be;
}

.ellipsis.page-item.disabled {
    --bs-pagination-disabled-bg: white;
    --bs-pagination-disabled-color: #2596be;
}

.page-item {
    width: 54px;
}

