.our-visuals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-visuals > h1, .provider-visuals > h1, h3 {
    color: #2596be;
}

.provider-visuals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}