.right-column-header {
  text-align: left;          /* Align the text to the left */
  border-bottom: 3px solid #000;  /* Adjust the border style as needed */
  padding-bottom: 0px;           /* Optional: Adds some space below the header */
  margin-bottom: 20px;            /* Optional: Adds some space between the header and the content */
  margin-top: 87px;               /* Add this to move the header down. Adjust value as needed. */
  line-height:1
}

#header {
  color: #2596be;
  font-size: 48px;
}
/* #ffcd0e*/
.custom-item {
  background-color: #ffcd0e;
}

.custom-card{
  background-color: #2596be;
  font-size: 24px;
  text-align: left;
}

.no-bullets{
  list-style-type: none;
  padding:0;
  margin: 0;
  text-align: left;
  font-size: 24px;
}